.Aps {
    text-align: center;
}

.Container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: clamp(1rem, 90vw, 2rem);
    font-size: clamp(0.95rem, 90vw, 2rem);
}

button.Btn {
    font-size: clamp(1.05rem, 90vw, 1.2rem);
    background: #8484ff;
    color: white;
    padding: 8px 15px;
    border-radius: 0.6rem;
    border: 0;
    cursor: pointer;
}